* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Merienda', cursive;
    background-image: url(../Imagenes/fondo.jpg);
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: #1e504c;
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    align-items: center;
    border-bottom: 2px solid antiquewhite;
}


/*Estilos-barra-de-navegación*/

.logo {
    flex: 1 1 auto;
    text-align: center;
}

.logo a {
    color: antiquewhite;
    font-size: 16px;
    padding: 0 10px;
    letter-spacing: 2px;
}

.logo a:hover {
    color: rgb(0, 0, 0)
}

.logotipo {
    padding: 0%;
    margin: 0%;
}

.nav {
    flex: 4 1 auto;
    text-align: center;
}

.nav a {
    color: antiquewhite;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 1%;
    letter-spacing: 2px;
}

.nav a:hover {
    color: rgb(0, 0, 0)
}

.icono {
    padding: 0;
    margin: 0 10px;
}


/* Estilos-cuerpo-de-contenido */

.cont-principalh1 {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Scheherazade New';
}

.titulo {
    font-size: 70px;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
    color: rgb(222, 247, 194);
    font-family: 'Scheherazade New';
}

.cont-principal {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    flex-direction: row;
}

.caja-transparente {
    width: 50%;
    height: 50%;
    margin: 2%;
    margin-top: 0%;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(185, 182, 201, 0.8);
    text-align: center;
}

.caja-transparente p {
    font-size: 25px;
    font-family: 'Scheherazade New';
}


/* Estilos-carta-de-presentacion */

.carta {
    width: 50%;
    height: 50%;
    margin: 2%;
    margin-top: 0%;
    background-color: rgba(185, 182, 201, 0.8);
    font-family: 'Scheherazade New';
    box-sizing: border-box;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.cara {
    border-right: 1px solid #ddd;
    text-align: center;
    padding: 1.5%;
}

.cara h2 {
    color: #1e504c;
    text-transform: uppercase;
    padding: 0 1%;
    letter-spacing: 1px;
}

.cara h4 {
    margin-bottom: 15%;
}

.img-card {
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin: 4% 3%;
    height: 30%;
    width: 35%;
}

.descripcion {
    height: auto;
    background: transparent;
    position: relative;
    text-align: center;
    padding: 5%;
}

.descripcion .social {
    margin-top: 15%;
}

.descripcion .social a {
    display: inline-block;
    padding: 0 10%;
    color: #1e504c;
}

.descripcion .social a:hover {
    color: black;
}


/* Estilos-pie-de-pagina */

.footer {
    background: #1e504c;
    display: flex;
    justify-content: center;
    border-top: 2px solid antiquewhite;
    font-size: 9px;
    min-height: 5vh;
}

.pie {
    color: antiquewhite;
    text-transform: uppercase;
    margin-top: 1%;
}


/*Media queries*/

@media screen and (min-width: 956px) {
    .cont-principal {
        font-size: 19px;
        min-height: 70vh;
    }
    .footer {
        font-size: 9px;
        min-height: 5vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 956px) {
    .titulo {
        font-size: 65px;
        font-weight: 200;
        text-align: center;
    }
    .cont-principal {
        min-height: 65vh;
    }
    .caja-transparente {
        width: 50%;
        height: 50%;
        padding: 4%;
    }
    .caja-transparente p {
        font-size: 18px;
    }
    .carta {
        display: block;
        width: 450px;
    }
    .cara {
        border: none;
    }
    .cara h4 {
        margin-bottom: 2%;
    }
    .descripcion {
        padding-top: 0%;
    }
    .footer {
        font-size: 8px;
        min-height: 5vh;
    }
}

@media screen and (max-width: 767px) and (min-width: 360px) {
    .menu {
        display: flex;
        flex-flow: column;
        height: 60px;
        align-items: center;
        border-bottom: 2px solid antiquewhite;
        min-height: 8vh;
    }
    .nav {
        display: flex;
        align-content: center;
        margin-top: 5px;
    }
    .icono {
        margin-left: 18px;
        margin-right: 18px;
    }
    .oculto {
        display: none;
    }
    .titulo {
        font-size: 40px;
        text-align: center;
        margin-bottom: 5%;
    }
    .cont-principal {
        min-height: 88vh;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .caja-transparente {
        width: 80%;
        padding: 5%;
        display: flex;
        justify-content: center;
    }
    .caja-transparente p {
        font-size: 16px;
    }
    .carta {
        display: block;
        width: 80%;
    }
    .descripcion p {
        font-size: 17px;
    }
    .cara h4 {
        margin-bottom: 2%;
    }
    .cara {
        border: none;
    }
    .footer {
        font-size: 7px;
        min-height: 5vh;
    }
}